<div class="recognitions-container">
  <mat-card>
    <mat-card-title>Recognitions Given To Me</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="received" class="mat-elevation-z2">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let row">{{row.category}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let row">{{row.date}}</td>
        </ng-container>
        <ng-container matColumnDef="comments">
          <th mat-header-cell *matHeaderCellDef>Comments</th>
          <td mat-cell *matCellDef="let row">{{row.comments}}</td>
        </ng-container>
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef>Points</th>
          <td mat-cell *matCellDef="let row">{{row.points}}</td>
        </ng-container>
  <tr mat-header-row *matHeaderRowDef="['name','category','date','comments','points']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name','category','date','comments','points'];"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top:32px;">
    <mat-card-title>Recognitions I Gave</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="given" class="mat-elevation-z2">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let row">{{row.category}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let row">{{row.date}}</td>
        </ng-container>
        <ng-container matColumnDef="comments">
          <th mat-header-cell *matHeaderCellDef>Comments</th>
          <td mat-cell *matCellDef="let row">{{row.comments}}</td>
        </ng-container>
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef>Points</th>
          <td mat-cell *matCellDef="let row">{{row.points}}</td>
        </ng-container>
  <tr mat-header-row *matHeaderRowDef="['name','category','date','comments','points']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name','category','date','comments','points'];"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
